**/.idea
**/node_modules
**/bin
**/obj
**/.DS_Store
**/*.log
**/.yarn

src/Loom/UI/npm-debug.log*
src/Loom/UI/yarn-debug.log*
src/Loom/UI/yarn-error.log*
src/Loom/UI/pnpm-debug.log*
src/Loom/UI/dist
src/Loom/UI/README.md
